################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
#ignore Visual Studio files
/.vs
#ignore mac hidden files
/.DS_Store

#ignore the bpRNA repository
bpRNA/

#ignore package files
src/LSC.egg-info

#ignore build files
build/

#ignore StructureComponents.log
src/bpRNAStructure/StructureComponents.log