################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
#ignore Visual Studio files
/.vs
#ignore mac hidden files
/.DS_Store

#ignore the bpRNA_align repository
bpRNA_align/

#ignore package files
src/LSC.egg-info

#ignore build files
build/

#ignore completed figures
data/figures/

#ignore bpRNA tab delimited files
data/bpRNA/

#ignore DMS datafiles
data/library/*.txt
data/library/*.csv
data/library/*.ste
data/library/summary.json

#ignore newly generated libraries
data_generation/library_generation/*/

#ignore bpRNA-1m database and zip file.
data_generation/bpRNA_data_generation/stFiles
data_generation/bpRNA_data_generation/stFiles.zip

#ignore StructureComponents.log
StructureComponents.log